@using WebSite.Properties
@{
    ViewBag.Title = Resources.AccountTitle;
    Layout = "~/Views/Shared/_LayoutForUserManagePage.cshtml";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

@if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
